extends layout

block content
    div(class="wrap")
        div(class="header") Заголовок
        div(class="sidebar")
            table(id="files")
                thead
                    tr
                        th="file"
                tr
                    td="11122.csv"
        div(class="content")
            div(id="graph") График
        div(class="clear")
        div(class="bottom") Подвал
    //h1= title
    //p Welcome to #{title}
