html
  head
    title!= "HMI Сталеразливочной машины."
    //<META HTTP-EQUIV="refresh" CONTENT="1">
  body
    h1 Время = #{dates}
    h1 Вес ковша= #{wight} кг.
    h1 Температура масла гидравлики= #{temper} С&deg;
    img.image(src='/images/hc81.png' )