<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Система розлива стали</title>
	<link href="css/jquery-ui.css" rel="stylesheet">
	<link href="css/index.css?ver=0.0.3" rel="stylesheet">
	<script src="js/jquery.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script>
		$(function() {
			$("#button-1, #button-2, #button-3, #button-4, #button-5, #button-6, #button-7, #button-8, #button-9").button();
		});

	</script>
</head>

<body>
	<div id="wrapper">
		<div id="header">СИСТЕМА РОЗЛИВА СТАЛИ (!-- обновление CTRL + F5 --!)</div>
        
		<div id="links">
		
            <table id="tableLinks" border="0">
             
				<tbody border="0">
					<tr>
						<td border="0"><a id="button-1" href="Metall_Speed.html" title="Расчет скорости истикания металла из ковша.">Расчет скорости истекания металла из ковша.</a></td>
					</tr>
					<tr>
						<td><a id="button-2" href="SURS.html" title="Симулятор розлива стали.">Симулятор розлива стали.</a></td>

					</tr>
                    <tr>
						<td><a id="button-5" href="http://asutp.kmz/root/EMP/HC81/data/" title="Статистика розлива стали.">Статистика розлива стали.</a></td>
					</tr>
					<tr>
						<td><a id="button-3" href="http://psr.kmz/tblc/" title="Стенд проверки тензодатчиков.">Стенд проверки тензодатчиков.</a></td>
					</tr>
		
                    
                    
                    <tr>
						<td><a id="button-7" href="http://10.0.1.221:3000/" title="Сталеразливочная машина ONLINE.">Сталеразливочная машина ONLINE</a></td>
					</tr>
                    <tr>
						<td><a id="button-7" href="MES/MES.html" title="3D представление производства">3D представление производства.</a></td>
					</tr>
                    
				</tbody>
         
			</table>
           
		</div>
             
		<div id="footer"> Версия 0.0.8 Pre alfa   SRC - <a href="https://github.com/Viktorych/Surs_st">GitHub</a> &copy; Rudenko O.V.</div>

	</div>
</body>

</html>
