doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/jquery.dataTables.min.css')
        link(rel='stylesheet', href='/stylesheets/dygraph.css')
        link(rel='stylesheet', href='/stylesheets/graph.css')
        script(src="/javascripts/jquery-1.12.4.js")
        script(src="/javascripts/jquery.dataTables.min.js")
        script(src="/javascripts/dygraph.js")
        script(src="/javascripts/jquery-ui.css")
        script(src="/javascripts/graph.js")
    body
        block content
